@import '../variables';

.martincv-experience {
	background: #282828;
	color: #ffffff;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	.martincv-experience__data {
		padding: 45px 0;
		background: rgba(#282828, .95);
		text-align: center;

		@media (min-width: $deskop_min_size) {
			display: flex;
			justify-content: space-evenly;
			padding: 90px 0;
		}

		div {
			& > div:first-child {
				font-size: 42px;
				line-height: 60px;
				font-weight: 700;
				color: #6F757B;

				@media (min-width: $deskop_min_size) {
					font-size: 80px;
					line-height: 120px;
				}
			}

			& > div:last-child {
				font-size: 18px;
				font-weight: 500;

				@media (min-width: $deskop_min_size) {
					font-size: 25px;
					line-height: 38px;
				}
			}
		}

		& > div {
			margin-bottom: 30px;
		}
	}
}
