@import '../variables';

.martincv-hero-home{
	background: rgba(0, 0, 0, 0.9);
	background-size: cover;
	background-position: center;
	color: #ffffff;
	position: relative;
	height: calc(100vh + 50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	@media(min-width: $deskop_min_size) {
		top: 50px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		z-index: 9999;
		background: #000000;
		width: 100%;
		height: 100%;
		opacity: 0.6;
	}

	& > * {
		position: relative;
		z-index: 99999;
	}

	a {
		color: #ffffff;
	}

	.martin-cv-home__intro {
		box-sizing: border-box;

		@media(min-width: $deskop_min_size) {
			display: flex;
			flex-direction: column;
			width: 950px;
    		margin: 0 auto;
		}

		h1, h2 {
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: 57px;
			line-height: 1.2;

			@media(min-width: $deskop_min_size) {
				text-align: left;
			}
		}

		h1 {
			@media(min-width: $deskop_min_size) {
				font-size: 85px;
				line-height: 90px;
			}
		}

		h2 {
			opacity: 0.5;
			font-size: 20px;

			@media(min-width: $deskop_min_size) {
				font-size: 30px;
				line-height: 45px;
				font-weight: 300;
			}
		}

		.martincv-hero-home__cta {
			text-align: center;
			display: flex;
			flex-direction: column;
			padding-top: 5px;

			@media(min-width: $deskop_min_size) {
				text-align: left;
				display: block;
			}

			a {
				margin-right: 10px;
				text-decoration: none;
				font-size: 24px;
				margin-bottom: 10px;

				&:hover {
					text-decoration: underline;
				}

				@media(min-width: $deskop_min_size) {
					font-size: 23px;
					line-height: 34px;
					margin-bottom: 0;
				}
			}
		}
	}

	.martincv-hero-home__link {
		position: absolute;
		top: 0;

		a {
			text-decoration: none;

			@media(min-width: $deskop_min_size) {
				font-size: 18px;
			}

			&:hover {
				color: $secondary_color;
			}
		}


		&:first-child {
			top: 100px;
			left: -15px;
			transform: rotate(90deg);

			@media(min-width: $deskop_min_size) {
				transition: transform .7s ease-in-out;
				left: 25px;

				&:hover {
					transform: rotate(0deg);
				}
			}
		}

		&:nth-child(2) {
			left: 10px;
			top: 90%;

			@media(min-width: $deskop_min_size) {
				left: 50px;
			}
		}

		&:nth-child(3) {
			right: 10px;
			top: 90%;

			@media(min-width: $deskop_min_size) {
				right: 50px;
			}
		}

		&:nth-child(4) {
			top: 100px;
			right: 0px;
			transform: rotate(90deg);

			@media(min-width: $deskop_min_size) {
				transition: transform .7s ease-in-out;
				right: 25px;

				&:hover {
					transform: rotate(0deg);
				}
			}
		}
	}
}
