@import '../variables';

.martincv-hero-home{
	background: rgba(0, 0, 0, 0.9);
	background-size: cover;
	background-position: center;
	color: #ffffff;
	position: relative;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	@media(min-width: $deskop_min_size) {
		height: 680px;
	}

	a {
		color: #ffffff;
	}

	.martin-cv-home__intro {
		box-sizing: border-box;

		@media(min-width: $deskop_min_size) {
			display: flex;
			flex-direction: column;
			width: 700px;
    		margin: 0 auto;
		}

		h1, h2 {
			margin: 0;
			padding: 0;
			text-align: center;

			@media(min-width: $deskop_min_size) {
				text-align: left;
			}
		}

		h1 {
			@media(min-width: $deskop_min_size) {
				font-size: 85px;
				line-height: 90px;
			}
		}

		h2 {
			opacity: 0.9;
			font-size: 16px;

			@media(min-width: $deskop_min_size) {
				font-size: 30px;
				line-height: 45px;
				font-weight: 300;
			}
		}

		.martincv-hero-home__cta {
			text-align: center;

			@media(min-width: $deskop_min_size) {
				text-align: left;
				padding-top: 30px;
			}

			a {
				margin-right: 10px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				@media(min-width: $deskop_min_size) {
					font-size: 23px;
					line-height: 34px;
				}
			}
		}
	}

	.martincv-hero-home__link {
		position: absolute;
		top: 0;

		a {
			text-decoration: none;

			@media(min-width: $deskop_min_size) {
				font-size: 18px;
			}
		}


		&:first-child {
			top: 100px;
			left: -15px;
			transform: rotate(90deg);

			@media(min-width: $deskop_min_size) {
				transition: transform .7s ease-in-out;
				left: 25px;

				&:hover {
					transform: rotate(0deg);
				}
			}
		}

		&:nth-child(2) {
			left: 10px;
			top: 90%;

			@media(min-width: $deskop_min_size) {
				left: 50px;
			}
		}

		&:nth-child(3) {
			right: 10px;
			top: 90%;

			@media(min-width: $deskop_min_size) {
				right: 50px;
			}
		}

		&:nth-child(4) {
			top: 100px;
			right: 0px;
			transform: rotate(90deg);

			@media(min-width: $deskop_min_size) {
				transition: transform .7s ease-in-out;
				right: 25px;

				&:hover {
					transform: rotate(0deg);
				}
			}
		}
	}
}
