@import './variables';

@font-face {
	font-family: 'Popins';
	src: URL('../fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Popins';
	src: URL('../fonts/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Popins';
	src: URL('../fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
}

body, html, p {
	padding: 0;
	margin: 0;
	font-family: 'Popins', cursive;
	max-width: 100%;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.9);
	outline: 1px solid rgba(0, 0, 0, 0.9);
}

header {
	position: relative;
	z-index: 99999;
	@media(min-width: $deskop_min_size) {
		display: flex;
		width: calc(100% - 100px);
		background: transparent;
		justify-content: space-between;
		padding: 0 50px;
	}

	.martincv-header__wrapper {
		position: absolute;
		background: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - 20px);
		padding: 10px;
		top: 0;
		height: 50px;

		&.menu-open {
			background: rgba($main_color, .5);
		}

		@media(min-width: $deskop_min_size) {
			padding: 0;
			width: auto;
			position: initial;
			height: auto;
		}

		.martincv-logo {
			line-height: 0;
			.martincv-logo__dot {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $secondary_color;
				display: inline-block;
			}
		}

		.martincv-mobile-nav {
			line-height: 0;
			background: none;
			border: none;
			cursor: pointer;

			@media ( min-width: $deskop_min_size ) {
				display: none;
			}
		}
	}

	nav {
		display: none;
		background: rgba($main_color, .5);
		width: 100%;
		top: 70px;
		position: absolute;
		text-align: center;

		@media (min-width: $deskop_min_size) {
			background: transparent;
			display: block;
			width: auto;
			position: initial;
			top: auto;
			text-align: left;
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;

			@media(min-width: $deskop_min_size) {
				flex-direction: row;
			}

			li {
				padding-bottom: 5px;
				@media (min-width: $deskop_min_size) {
					padding: 0;
					&:not(:last-child) {
						margin-right: 20px;
					}
				}

				a {
					text-decoration: none;
					color: #ffffff;
					font-size: 18px;
					line-height: 27px;
					text-transform: lowercase;
				}

				&:hover {
					a {
						color: $secondary_color;
					}
				}
			}
		}
	}
}

main {
	// padding-top: 70px;

	@media (min-width: 980px) {
		padding-top: 0;
		margin-top: -60px;
	}

	.martincv-label {
		opacity: 50%;
		font-size: 16px;
		font-weight: 300;
		line-height: 33px;
	}

	section h2 {
		font-size: 25px;
		padding: 0;
		margin: 0 0 15px 0;

		@media (min-width: 980px) {
			font-size: 50px;
		}
	}
}
