@import './variables';

.martincv-single {
	background: #202020;

	@import url('./gutenberg-blocks/hero-home-section');

	.martincv-hero::after {
		opacity: .87;
	}

	.martincv-single__content {
		padding: 90px 45px 45px 45px;
		color: #ffffff;
		opacity: 0.8;
		font-size: 16px;

		p {
			margin-bottom: 30px;
		}

		h2 {
			font-size: 28px;
			padding: 0;
			margin: 0 0 5px 0;
		}

		h3 {
			font-size: 24px;
			padding: 0;
			margin: 0 0 5px 0;
		}

		@media (min-width: $deskop_xs_min_size) {
			width: 693px;
			margin: 0 auto;
			font-size: 20px;

			h2 {
				font-size: 32px;
			}

			h3 {
				font-size: 28px;
			}
		}

		a {
			color: $secondary_color;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
