@use './variables';

@mixin safari-only {
	@supports (-webkit-hyphens:none) {
		@content;
	}
}

@mixin hideScrollbar() {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}
