$breakpoints--tablet: 768px;
$breakpoints--small-desktop: 1024px;
$breakpoints--desktop: 1280px;
$breakpoints--laptop: 1366px;
$breakpoints--large-desktop: 1440px;
$breakpoints--full-hd: 1920px;
$breakpoints--quad-hd: 2560px;

$martincv-container-width: 1400px;
